{% extends 'base/base_back.html' %}

{% load i18n app_security %}
{% load l10n humanize %}


{% block breadcrumbs %}
  <a href="{% url 'home' %}"><i class="fa fa-home fa-lg"></i> Home</a>
  &rsaquo; {{opts.verbose_name_plural}}
{% endblock breadcrumbs %}

{% block content_title %}
{{ opts.verbose_name_plural|capfirst }} | <small>{{ title }}</small>
{% endblock content_title %}

{% block content %}

<script type="text/javascript">
$(function() {
    $('table').kgrid({
        form_data : ['{{f}}', '{{q}}'],
        form_to   : '{% url "recetario:categoria_list" %}?f={{f}}&q={{q}}',
        order_attr: 'class=""',
        order_to  : '{% url "recetario:categoria_list" %}?f={{f}}&q={{q}}',
    });
});
</script>
<div class="modal fade" id="cat_form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="id_categoria" id="id_categoria" value="">
        <input type="hidden" name="delete" id="delete" value="">
        <div class="modal-body">
          <div class="form-group form">
            <label for="id_nombre">Nombre</label>
            <input type="text" name="nombre" class="form-control" id="id_nombre" placeholder="Ingrese nombre">
          </div>
          <div class="msg-del">
          <p>Estás a punto de eliminar <strong class="regname"></strong>, este procedimiento es irreversible.</p>
          <p>¿Quieres proceder?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn ok">Guardar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="btn-toolbar btn-toolbar-top">
    <div class="row">
        <div class="btn-actions">
            <a href="#cat_form" data-toggle="modal" class="btn
                btn-primary text-bold" title="Agregar {{opts.verbose_name}}">
                <i class="fa fa-plus">
                </i>
                <span class="hidden-xs"> Agregar {{opts.verbose_name}}
                </span>
            </a>
        </div>
    </div>
</div>

<div class="container-overflow">
    <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th class="" data-search="nombre" data-order="nombre">Nombre</th>
                <th class="btn-actions col-block text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for d in object_list %}
            <tr>
                <td>
                    {% if is_paginated %}
                        {{ page_obj.start_index|add:forloop.counter0 }}
                    {% else %}
                        {{ forloop.counter }}
                    {% endif %}
                </td>
                <td>{{ d.nombre }}</td>
                <td class="text-center">
                  <a href="#cat_form" data-toggle="modal" data-categoria="{{d.id}}" data-nombre="{{d.nombre}}" class="btn btn-info btn-sm text-bold" title="Cambiar categoría" rel="tooltip"><i class="btn-icon-only fa fa-edit"></i></a>
                   <a href="#cat_form" data-toggle="modal" data-quitar="{{d.id}}" data-nombre="{{d.nombre}}" class="btn btn-danger btn-sm text-bold" title="Eliminar categoría" rel="tooltip"><i class="btn-icon-only fa fa-trash-o"></i></a>
                </td>

            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
<div  class="row" >
  {% if is_paginated %}
  {% load paginator %}
  {% paginator %}
  {% else %}
  <div class="col-md-12" >
    <ul class="breadcrumbpag" >
      {{ object_list.count }}
      {% ifequal object_list.count 1 %}
          {{ opts.verbose_name|capfirst }}
      {% else %}{{ opts.verbose_name_plural|title }}
      {% endifequal %}
    </ul>
  </div>
  {% endif %}
</div>

{% endblock %}


{% block customjs %}
<script>
  $('#cat_form').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    $('.modal .modal-dialog').attr('class', 'modal-dialog modal-sm flipInY animated');
    var categoria = button.data('categoria')
    var nombre = button.data('nombre')
    var quitar = button.data('quitar')
    var modal = $(this)
    modal.find('.modal-title').text('Formulario categoría')
    modal.find('.modal-header').addClass('modal-header-primary')
    modal.find('.ok').removeClass('btn-danger').addClass('btn-primary');
    modal.find('.msg-del').hide();
    modal.find('.form').show();
    modal.find('#delete').val("");
    if (quitar) {
      $('.modal .modal-dialog').attr('class', 'modal-dialog modal-sm flipInX animated');
      modal.find('.form').hide()
      modal.find('.msg-del').show()
      modal.find('.modal-title').html('<i class="glyphicon glyphicon-info-sign"></i> Confirme eliminar')
      modal.find('.modal-header').removeClass('modal-header-primary').addClass('modal-header-danger');
      modal.find('.ok').removeClass('btn-primary').addClass('btn-danger')
      modal.find('.ok').text('Continuar')
      modal.find('.regname').text(nombre);
      modal.find('#delete').val(quitar);
      modal.find('.modal-body #id_nombre').val(nombre);
    }else if(categoria && nombre){
      console.log("Editar");
      modal.find('.ok').text('Actualizar')
      modal.find('#id_categoria').val(categoria);
      modal.find('.modal-body #id_nombre').val(nombre);
    }else{
      console.log("Crear");
      modal.find('.ok').text('Guardar')
      modal.find('#id_categoria').val("");
      modal.find('.modal-body #id_nombre').val("");
    }
  });

</script>
{% endblock customjs %}




