{% extends 'base/base_back.html' %}
{% load i18n l10n humanize %}

{% block breadcrumbs %}
<a href="{% url 'home' %}"><i class="fa fa-home fa-lg"></i> Home</a>
{% comment %}
&rsaquo;
<a href="{% url 'recetario:receta_list' %}">{{ opts.verbose_name_plural }}</a>
{% endcomment %}
&rsaquo; {{ menu }}
{% endblock breadcrumbs %}

{% block content_title %}
      {{ opts.verbose_name |capfirst }} de menu | <small>{{ menu }}</small>
{% endblock content_title %}

{% block content %}
<style>
  .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #0100CD;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h4 class="text-center text-primary">Configurar <strong>{{menu.tipo_menu}}</strong> de {{menu.fecha}}</h4>
      </div>
    </div>

    <form action="javascript:consultar()" class="form-inline text-center" id="myform" role="form">
      <div class="form-group">
        <label class="" for="receta">Recetas</label>
        <select name="receta" class="form-control select2" id="receta">
          {% for d in recetas %}
            <option value="{{d.id}}">{{d.nombre}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="porcion">Porción</label>
        <input type="number" name="porcion" class="form-control" placeholder="Ingrese porción" required>
      </div>
      <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>
      <span class="hidden-xs"> Consultar</span></button>
    </form>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <div id="insumos"></div>
        <button type="button" class="btn btn-block btn-default guardar">Guardar <i class="fa fa-arrow-right"></i></button>
      </div>
      <div class="col-md-4">
        <h5 class="text-info text-center">Detalles</h5>
        <ul class="list-group detalles">
          <li class="list-group-item list-group-item-info">
            <span class="badge">Porción</span>
            <strong>Receta</strong>
          </li>
          {% for d in detalles %}
          <li class="list-group-item">
            <span class="badge">{{d.porcion}}</span>
            {{d.receta}}
          </li>
          {% endfor %}
        </ul>
        <div align="center">
          <div class="loader"></div>
        </div>
        <a href="{% url 'venta:detalle_list' menu.id %}" class="btn btn-block btn-primary"><i class="fa fa-eye"></i> Ver detalles</a>
      </div>
    </div>
  </div>
  <div class="panel-footer">
  </div>
</div>

<div class="modal fade" id="modal-id">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Crear nuevo tipo menu</h4>
      </div>
      <form action="javascript:crear_tipo_menu()" id="modal_form" method="POST" role="form">
      <div class="modal-body">
        {% csrf_token %}
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" id="" name="nombre" placeholder="Ingrese tipo menu">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_agregar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Agregar insumo</h4>
      </div>
      <form action="#" id="form_agregar" method="GET">
      <div class="modal-body">
        <div class="form-group">
          <select name="producto" id="id_producto" class="form-control select2" style="width: 100%;" required>
            {% for d in insumos %}
              <option value="{{d.id}}">{{d.nombre}} <i>Stock:{{d.stock}} {{d.unidad.simbolo}}</i></option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="id_cantidad">Cantidad</label>
          <input type="number" class="form-control" name="cantidad" id="id_cantidad" placeholder="Ingrese cantidad" step="any" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}

{% block extrajs %}    
    {{ block.super }}
{% endblock extrajs %}

{% block customjs %}
<script>
  var lista = [];
  $(".loader").hide();
  $(".guardar").hide();
  function consultar() {
    var obj = getFormObj2('myform');
    // obj['receta_nombre'] = $("#receta option:selected").text();
    $.get('{% url "venta:filtrar_ingredientes" %}', obj, function(data) {
      $("#insumos").html(data);
      $(".guardar").show();
    });
  }

  $("#form_agregar").on('submit', function(e) {
    e.preventDefault();
    var obj = getFormObj2('form_agregar');
    obj['nombre'] = $("#id_producto option:selected").text();
    // console.log(obj)
    var tr = '<tr id="'+obj.producto+'" cantidad="'+obj.cantidad+'">';
    tr += '<td></td><td>'+obj.nombre+'</td><td>'+obj.cantidad+'</td>';
    tr += '<td onclick="$(this).parent().remove()"><a href="#"><i class="fa fa-remove"></i></a></td></tr>'
    $("table tbody").append(tr);
    $("#modal_agregar").modal("hide");
  });

  $(".guardar").on('click', function(e) {
    e.preventDefault();
    $(".loader").show();
    var insumos = [];
    $("table tbody").find("tr").each(function(index, el) {
      if ($(el).attr('id')) {
        insumos.push({'producto':$(el).attr('id'), 'cantidad':$(el).attr('cantidad')});
      }
    });
    var data = getFormObj2('myform');
    data['insumos'] = JSON.stringify(insumos);
    data['csrfmiddlewaretoken'] = '{{csrf_token}}';
    data['menu'] = '{{menu.id}}';
    console.log(data);
    $.post('{% url "venta:crear_detalle" %}', data, function(data, textStatus, xhr) {
      var htm = '';
      htm += '<li class="list-group-item">';
      htm += '<span class="badge">'+data.porcion+'</span>'+data.receta+'</li>';
      $(".detalles").append(htm)
      $(".loader").hide();
      $("#myform").trigger('reset'); // $("#myform")[0].reset();
      $("#insumos").html('');
      $(".guardar").hide();
    });
  });

  // jQuery('<div/>', {
  //   id: 'foo',
  //   href: 'http://google.com',
  //   title: 'Become a Googler',
  //   rel: 'external',
  //   text: 'Go to Google!'
  // }).appendTo('#mySelector');

  function crear_tipo_menu () {
    var data = getFormObj2('modal_form'); 
    $.post('{% url "venta:crear_tipo_menu" %}', data, function(data, textStatus, xhr) {
      $("#modal-id").modal('hide');
      $("#tipo_menu").append('<option value="'+data.id+'" selected="">'+data.nombre+'</option>');
    });
  }

  function getFormObj2(formId) {
    var res = {};
    $("#"+formId+" input, #"+formId+" select, #"+formId+" textarea").each(function(i, obj) {
        res[obj.name] = $(obj).val();
    })
    return res;
  }
</script>  
{% endblock customjs %}