{% extends 'base/base_back.html' %}
{% load i18n l10n humanize %}

{% block breadcrumbs %}
<a href="{% url 'home' %}"><i class="fa fa-home fa-lg"></i> Home</a>
{% comment %}
&rsaquo;
<a href="{% url 'recetario:receta_list' %}">{{ opts.verbose_name_plural }}</a>
{% endcomment %}
&rsaquo; {{ title }}
{% endblock breadcrumbs %}

{% block content_title %}
      {{ opts.verbose_name |capfirst }} de menu | <small>{{ title }}</small>
{% endblock content_title %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-2">
        <div class="input-group">
          <label class="sr-only" for="tipo_menu">Tipo de menu</label>
          <select class="form-control" id="tipo_menu">
            {% for d in tipo_menus %}
              <option value="{{d.id}}">{{d.nombre}}</option>
            {% endfor %}
          </select>
          <span class="input-group-btn">
            <button type="button" class="btn text-primary" rel="tooltip" data-toggle="modal" data-target="#modal-id" title="Crear nuevo tipo menu">
              <i class="fa fa-plus"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-8">
        <h4 class="text-center">Formulario menu</h4>
      </div>
    </div>

    <form action="javascript:consultar()" class="form-inline text-center" id="myform" role="form">
      <div class="form-group">
        <label class="" for="receta">Recetas</label>
        <select name="receta" class="form-control select2" id="receta">
          {% for d in recetas %}
            <option value="{{d.id}}">{{d.nombre}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="porcion">Porción</label>
        <input type="number" name="porcion" class="form-control" placeholder="Ingrese porción" required>
      </div>
      <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>
      <span class="hidden-xs"> Consultar</span></button>
    </form>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8" id="insumos">
        
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">5</span>
            Item 1
          </li>
          <li class="list-group-item">
            <span class="badge">10</span>
            Item 2
          </li>
          <li class="list-group-item">
            <span class="badge">15</span>
            Item 3
          </li>
        </ul>        
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default guardar">
        <i class="fa fa-check"></i> Guardar</button>
      </div>
      {% comment %}
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Guardar</button>
      </div>
      {% endcomment %}
    </div>
  </div>
</div>

<div class="modal fade" id="modal-id">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Crear nuevo tipo menu</h4>
      </div>
      <form action="javascript:crear_tipo_menu()" id="modal_form" method="POST" role="form">
      <div class="modal-body">
        {% csrf_token %}
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" id="" name="nombre" placeholder="Ingrese tipo menu">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modalagregar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Agregar insumo</h4>
      </div>
      <form action="#" id="form_agregar" method="GET">
      <div class="modal-body">
        <div class="form-group">
          <select name="producto" id="id_producto" class="form-control select2" style="width: 100%;" required>
            {% for d in insumos %}
              <option value="{{d.id}}">{{d.nombre}} <i>Stock:{{d.stock}} {{d.unidad.simbolo}}</i></option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="id_cantidad">Cantidad</label>
          <input type="number" class="form-control" name="cantidad" id="id_cantidad" placeholder="Ingrese cantidad" step="any" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}

{% block extrajs %}    
    {{ block.super }}
{% endblock extrajs %}

{% block customjs %}
  <script>
  var lista = [];
  function consultar () {
    var obj = getFormObj2('myform');
    // obj['receta_nombre'] = $("#receta option:selected").text();
    lista.push(obj);
    $.get('{% url "venta:filtrar_ingredientes" %}', obj, function(data) {
      $("#insumos").html(data);
    });
    // listar(lista);
  }
  $("#form_agregar").on('submit', function(e) {
    e.preventDefault();
    var obj = getFormObj2('form_agregar');
    obj['nombre'] = $("#id_producto option:selected").text();
    console.log(obj)
    var tr = '<tr id="'+obj.producto+'" cantidad="'+obj.cantidad+'">';
    tr += '<td></td><td>'+obj.nombre+'</td><td>'+obj.cantidad+'</td>';
    tr += '<td onclick="$(this).parent().remove()"><a href="#"><i class="fa fa-remove"></i></a></td></tr>'
    $("table tbody").append(tr);
    $("#modal_agregar").modal("hide");
  });

  // function listar (list) {
  //   var htm = '';
  //   for (var i = 0; i < list.length; i++) {
  //     htm += '<tr>'      
  //     htm += '<td>'+(i+1)+'</td>';      
  //     htm += '<td>'+list[i].receta_nombre+'</td>';      
  //     htm += '<td>'+list[i].porcion+'</td>';      
  //     htm += '<td><a href="javascript:quitar('+i+')"><i class="fa fa-remove fa-lg"></i></a></td>';      
  //     htm += '</tr>'      
  //   }
  //   $("tbody").html(htm);
  // }
  $(".guardar").on('click', function(e) {
    e.preventDefault();
    var insumos = [];
    $("table tbody").find("tr").each(function(index, el) {
      insumos.push({'producto':$(el).attr('id'), 'cantidad':$(el).attr('cantidad')});
    });
  });

  function crear_tipo_menu () {
    var data = getFormObj2('modal_form'); 
    $.post('{% url "venta:crear_tipo_menu" %}', data, function(data, textStatus, xhr) {
      $("#modal-id").modal('hide');
      $("#tipo_menu").append('<option value="'+data.id+'" selected="">'+data.nombre+'</option>');
    });
  }

  function quitar (i) {
    lista.splice(i, 1);
    listar(lista);
  }
/********Metodos*******/
/*  function getFormObj(formId) {
    var formParams = {};
    $('#' + formId)
      .serializeArray()
      .forEach(function(item) {
        if (formParams[item.name]) {
          formParams[item.name] = [formParams[item.name]];
          formParams[item.name].push(item.value)
        } else {
          formParams[item.name] = item.value
        }
      });
    return formParams;
  }*/
  function getFormObj2(formId) {
    var res = {};
    $("#"+formId+" input, #"+formId+" select, #"+formId+" textarea").each(function(i, obj) {
        res[obj.name] = $(obj).val();
    })
    return res;
  }
/********Metodos*******/

  </script>  
{% endblock customjs %}