<div class="table-responsive">
  <table class="table table-hover">
    <caption>Ingredientes</caption>
    <thead>
      <tr>
        <th>N°</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Stok</th>
      </tr>
    </thead>
    <tbody>
      {% for d in object_list %}
      <tr {% if d.stock != 'suficiente' %}class="danger"{% endif %}>
        <td>{{forloop.counter}}</td>
        <td>{{d.producto}}</td>
        <td>{{d.cantidad_total}} {{d.producto.unidad.simbolo}}</td>
        <td>{{d.producto.cantidad }} {{d.producto.unidad.simbolo}}
          <span class="label label-{% if d.stock == 'suficiente'%}success{% else %}danger{% endif %}">{{d.stock}}</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>