<div class="table-responsive">
  <table class="table table-hover">
    <caption>Ingredientes</caption>
    <thead class="panel-footer">
      <tr>
        <th>N°</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Stok</th>
      </tr>
    </thead>
    <tbody>
      {% for d in object_list %}
      <tr id="{{d.producto.id}}" cantidad="{{d.cantidad_total}}" {% if d.stock != 'suficiente' %}class="danger"{% endif %}>
        <td>{{forloop.counter}}</td>
        <td>{{d.producto}} (<i>{{d.producto.descripcion}}</i>)</td>
        <td>{{d.cantidad_total}} {{d.producto.unidad.simbolo}}</td>
        <td>{{d.producto.stock }} {{d.producto.unidad.simbolo}}
          <span class="label label-{% if d.stock == 'suficiente'%}success{% else %}danger{% endif %}">{{d.stock}}</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="button" class="btn btn-large btn-block btn-default" data-toggle="modal" href='#modalagregar'><i class="fa fa-download"></i> Agregar insumo</button>
</div>
