{% extends 'base/base_back.html' %}
{% load i18n l10n humanize %}

{% block breadcrumbs %}
<a href="{% url 'home' %}"><i class="fa fa-home fa-lg"></i> Home</a>
{% comment %}
&rsaquo;
<a href="{% url 'recetario:receta_list' %}">{{ opts.verbose_name_plural }}</a>
{% endcomment %}
&rsaquo; {{ menu }}
{% endblock breadcrumbs %}

{% block content_title %}
      {{ opts.verbose_name |capfirst }} de menu | <small>{{ menu }} {{menu.fecha}}</small>
{% endblock content_title %}

{% block content %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for d in object_list %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{d.id}}" aria-expanded="true" aria-controls="{{d.id}}">
          {{d.receta}} <span class="badge">Porción: {{d.porcion}}</span> <span class="badge">Costo: {{d.costo}}</span>
        </a>
        <a href="{% url 'venta:detalle_delete' d.pk %}"
             class="js-confirm text-bold"
             msg-title="Eliminar Plan?."
             msg="Estás a punto de eliminar <b>{{d.receta}}</b> este procedimiento es irreversible.<br/>¿Quieres proceder?"
             title="Eliminar {{opts.verbose_name}}" rel="tooltip">
              <i class="btn-icon-only fa fa-trash-o"></i>
          </a>
      </h4>
    </div>
    <div id="{{d.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Insumo</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          {% for e in d.insumosdetalle_set.all %}
          <tr>
            <td>{{e.insumo}}</td>
            <td>{{e.cantidad}}{{e.unidad.simbolo}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}

{% block extrajs %}    
    {{ block.super }}
{% endblock extrajs %}

{% block customjs %}
{% endblock customjs %}