{% extends "base/base_back.html" %}

{% load i18n app_security %}
{% load l10n humanize %}

{% block breadcrumbs %}
  <a href="{% url 'home' %}"><i class="fa fa-home fa-lg"></i> {% trans "Home" %}</a>
  &rsaquo;
  <a href="{% url 'backend:user_profile' %}"> {% trans "My Profile" %}</a>
  &rsaquo;
  {% trans "Password change" %}  
{% endblock breadcrumbs %}

{% block content_title %}
  Change Password|
  <small>Cambiar contraseña</small>
{% endblock content_title %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="container-overflow table-responsive">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="text-center">Cambiar contraseña</h4>
        </div>
        <form action="" enctype="multipart/form-data" method="post">
        <div class="panel-body">
          {% csrf_token %}
          {{ form }}
        </div>

        <div class="panel-footer">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <a href="{% url 'backend:user_profile' %}" class="btn btn-default">
                <i class="fa fa-ban"></i> Cancelar
              </a>
            </div>
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-lock"></i>
                Cambiar
              </button>      
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
